#levelView {
	-fx-alignment: top-left ;
	-fx-background-color: #D0F4F7;
}

#lostView, #wonView {
	-fx-alignment: center;
	-fx-font-family: Verdana;
	-fx-font-size: 20pt;
}
#lostView {
	-fx-background-color: beige;
}
#wonView {
	-fx-background-color: lightgreen;
}
