#gameView {
	-fx-pref-height:600px;
	-fx-pref-width:800px;
	-fx-background-color: black;
}

#humanPlayerHand {
	-fx-background-color:blue;
	-fx-alignment: center-left;
}

#computerPlayerHand {
	-fx-background-color: lightblue ;
	-fx-alignment: center-left;
}

#playerCard {
	-fx-cursor: hand;
}

#piles {
	-fx-alignment: center;
	-fx-spacing: 20px;
}

#stockPile {
	-fx-cursor: hand;
}

#menu {
	-fx-font-family: "Verdana";
	-fx-font-size: 12pt;
	-fx-alignment: bottom-center;
}

#bottomMenu {
	-fx-alignment: bottom-left;
}

#topMenu, #changedSuitMessage, #invalidPlayMessage {
	-fx-background-color: rgb(255,255,128);
	-fx-padding: 5px;
	-fx-fill: black;
	-fx-pref-width: 150px;
}

#changedSuitMessage {
	-fx-pref-height: 64px;
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 1px 0 0 0;
}
#invalidPlayMessage {
	-fx-pref-height: 40px;
}